<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/main_css1.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main49.js') }}"></script>



</head>
    <div id="jb-header">
        <div>
            <h1>Show Me The Color</h1>
        </div>
    </div>
<body>
    <div id="'container">
         <fieldset id="jb-layer">
             <div id="'jb-wide contents">
                 <form name = "img_type_summary" id="file_form" action = "http://127.0.0.1:8080/" method = "POST" enctype="multipart/form-data">
						<div class="filebox">
                            <!-- 사진입력 버튼&타입보기 -->
                            <label class="lb_temp1" for="ex_file">사진선택</label>
							<input type='file' id='ex_file' name='file' onchange="readURL(this);"/>
							<label class="lb_temp2" for="show_type">타입보기</label>
							<input type="button" id='show_type' name="show_type"/>

						</div>

                     <h2 style="margin-bottom: -1%;">Guide</h2>
                    <div class="temp">
                        <p>
                        1. 흰색 배경의 형광등 아래에서 찍은 사진 권장</br>
                        2. 안경 등으로 얼굴이 가려지지 않은 사진 권장</br>
                        3. 모바일이 아닐 경우 창크기를 최대로 권장</br>
                        </p>

                    </div>
                 </form>
                 <!-- 받아온 사진 띄우기 -->
                 <div style="text-align : center;">
                    <img id="image_section" src="#" alt="img" style="width:60%; height: auto;"/>
                </div>

                 <!-- 얼굴 측색 RGB 받아오기 -->
                 <!-- 퍼스널 컬러 타입 받아오기 -->
                 <div id="jb-wide-contents-type" style="background-color:rgb(245, 215, 200)">
						<hr color="white" size=5 style="margin-top: 50px;"/>
						<h2 id="pc-type-result-span" style="letter-spacing:4px">WARM SPRING BRIGHT</h2>
						<hr color="white" size=5 style="margin-bottom: -50px;"/>
                 </div>

                 <br>
					<br>
					<div id="pc-type-result">
						<font style="font-size: 80%;"><b>당신의 피부 측색 결과 <b>XX.X% 정확도로</b><br><span class="pc-type-result-span">''</span>입니다.</b></font>
					</div>

             </div>
             </br>
             </br>

         </fieldset>

    </div>

    </body>
</html>


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>
<body>
    <p>
        <form action="http://localhost:80/fileUpload" method="POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <a href="/view" onclick="return confirm('제출 성공! \n업로드한 이미지를 확인합니다.');">제출하기</a>
    </p>
</body>
</html>

-->